{% extends 'base_nav.html' %}

{% block content %}
    <h1>Inventory Records</h1>
  

        <table class="table">
            <thead>
                <tr>
                    <th> No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Price per unit</th>
           
               
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                    <tr class="{% cycle 'even' 'odd' %}">
                        <td><span class="counter">{{ forloop.counter }}. </span></td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.price_per_unit }}</td>
               
                    
                    </tr>
                {% endfor %}
            </tbody>
        </table>
   
{% endblock %}